
h1{
    color: #fff;
}

#searchBar{
    background-color: rgb(23, 29, 66);
    padding: 1.5em;
    border: 2px solid rgb(9, 12, 32);
    width: 84%;
    border-radius: 18px;
    float: left;
}

.container{
    background-color: rgb(23, 29, 66);
    padding: 1em;
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.contacts{
    color:#fff;
    font-size: 1.5em;
}

.button{
width: 10%;
float:right;
background-color: rgb(115, 122, 168);
opacity: 0.5;
padding: 1.2rem 1.5rem;
border-radius: 25px;
}

